/* --------------------------------------------------------------------------------------
+
+ BASIC STYLES
+
-------------------------------------------------------------------------------------- */

@import "compass";
@import "compass/reset";
@import "variables";
@import "mixins";

//SETTING UP MAIN ELEMENTS
html {
    &.ie8 {
        color: red !important;
    }
}

body {
    color: $text-clr;
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    // -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: $title-font;
    color: $title-clr;
    margin-bottom: $space;
    font-weight: 300;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.136;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    color: $title2-clr;
    margin-bottom: 10px;
    line-height: $base-line-height;
}

h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 35px;
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 45px;
    margin-bottom: 40px;

}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
    color: #1ab374;
    margin-bottom: 0;
    line-height: 1.5;
}


a {
    outline: none;  /* removing outline in Mozilla */
    @include transition(all .2s ease);
    text-decoration: none;
    color: $link-clr;

    &:hover {
        color: $link-hover;
    }
}

p {
    margin-bottom: $space;
    clear: both;
}

img {
    vertical-align: top;
}

table {
    width: 100%;
}

strong {
    font-weight: bold;
}


//CLEARING FLOAT (always extend .clearfix class)
.clearfix {
    @include pie-clearfix;
}

//SELECTED TEXT
@include selected-text;

//HIDE CLASS
.hide {
    display: none !important;
}

//SETTING FORM ELEMENTS
button:hover,
input[type="submit"]:hover,
label {
    cursor: pointer;
}

textarea {
    margin: 0;             /* removing margin in Mozilla */
    overflow: auto;        /* for IE and older browsers */
}

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
    *vertical-align: baseline;
}

//removing webkit outline
input:focus,
textarea:focus,
button:focus {
    outline: none;
}

//removing odd button padding/margin in Mozilla
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}