/* --------------------------------------------------------------------------------------
+
+ FORMS
+
-------------------------------------------------------------------------------------- */

/* MAIN PART */

input[type="text"], input[type="email"], textarea {
	vertical-align: middle;
	border: 2px solid #d4d8de;
	color: $input-clr;
	background-color: $input-bgr;
	padding: 0 10px 0 65px;
	// @include transition(all .4s ease);
	@include radius;
    font-family: $base-font;
    display: block;
    font-size: $base-font-size;
    margin-bottom: 30px;
    width: 100%;
    clear: both;
    @include bs;
	&:hover, &:focus {
		background-color: #fff;
		border: 2px solid #1ab374;
	}
	&.error {
		@include background(image-url('form/error.png', false, false) no-repeat 0 0);
		border: 2px solid #ff605a;
		color: #ff605a;
		&:hover {
			background-position: 0 0;
		}
	}
}

input[type="text"], input[type="email"] {
	@include lh(48px);
	.ie8 & {
		line-height: 43px;
		
	}
}

textarea {
	resize: none;
	padding-top: 12px;
	min-height: 203px;
	&.form-message {
		width: 100%;
	}
	& + label {
		// left: auto !important;
		// right: 0;
	}
}

label {
	&.error {
		color: $link-clr;
		position: absolute;
		left: 50px;
		margin-top: -32px;
	}
}