/* --------------------------------------------------------------------------------------
+
+ VARIABLES
+
-------------------------------------------------------------------------------------- */

//GLOBAL VARIABLES

$experimental-support-for-svg:          true;

//Basic colors
$base-clr:                            	#fff;
$header-bgr:                            #fff;
$footer-bgr:							#3e4d5c;
$base-font:                             'Roboto', sans-serif;
$title-font:                            'Roboto', sans-serif;

$base-font-size:                        16px;
$base-line-height:                      1.5;

$text-clr: 								#67727e;
$title-clr:								#fff;
$title2-clr:							#3e4d5c;
$link-clr:								#ff605a;
$link-hover:							#ff605a;

$border:								#e3e7ec;

$footer-clr:							#fff;

$input-clr:								#67727e;
$input-bgr:								#fff;

$btn-clr:								#fff;
$btn-bgr:								#1ab374;
$btn-hover:								#e25d5a;


//LAYOUT
$space:                          		20px;
$page-width:                            320px;
$radius:								5px;


//SELECT TEXT
$selected-text-bgr:						#000;
$selected-text-clr:						#fff;

