/* --------------------------------------------------------------------------------------
+
+ Queries (min-width: 768px)
+
-------------------------------------------------------------------------------------- */
@import "variables";
@import "mixins";
@import "compass";



@media (min-width: 768px) {
	h1 {
	    font-size: 70px;
	}

	h2 {
	    font-size: 36px;
	}

	h3 {
	    font-size: 30px;
	}

	h4 {
	    font-size: 24px;
	}
 	header nav ul {
 		display: block;
 	}
	.content {
		padding-top: 96px;
		.subheader {
			overflow: hidden;
			min-height: 600px;
			span {
				@include background(image-url('line2.png', false, false) no-repeat 100% 50%);
				h4 {
					@include background(image-url('line2.png', false, false) no-repeat 0 50%);
					padding: 0 115px;
					
				}
			}		
			.container {
				padding-top: 190px;
			}	
		}
	}

	.container {
		width: 768px;
		padding: 0 40px;
		@include bs;
	}

	section {
		padding: 80px 0;
	}

	header {
		overflow: hidden;
		height: 96px;
		.ie8 & {
			border-bottom: 1px solid $border;
		}
		.logo {
			top: 35px;
			img {
				width: 119px;
			}
		}
		nav {
			position: static;
			right: auto;
			top: auto;
			@include lh(96px);
			width: auto;
			float: right;
			@include background(none);
			cursor: normal;
			ul {
				position: static;
				top: auto;
				right: auto;
				width: auto;
				@include opacity(1);
				visibility: visible;
				.ie7 &, .ie8 & {
					display: block;
				}
				li {
					@include lh(96px);
					width: auto;
					border-top: none;
					float: left;
					margin-left: 30px;
					&:first-child {
						margin-left: 0;
						.ie8 & {
							border-top: none;
						}
						a {
							@include box-shadow(none);
						}
					}
					a {
						background-color: #fff;
						&:hover, &.active {
							color: $link-hover;
						}
					}
				}
			}
		}
	}	

	#about {
		ul {
			font-size: 0;
		}
		li {
			font-size: $base-font-size;
			display: inline-block;
			vertical-align: top;
			width: 304px;
			border: none;
			padding: 40px 0 40px 40px;
			border-top: 2px solid $border;
			border-left: 2px solid $border;
			@include bs;
			&:first-child, &:first-child + li + li, &:first-child + li + li +li + li, &:first-child + li + li +li + li + li + li {
				padding-right: 39px;
				padding-left: 0;
				border-left: none;
			}	
			&:first-child, &:first-child + li {
				border-top: none;
				padding-top: 0;
			}			
			&:last-child {
				padding-bottom: 0;
			}		
			// &:first-child + li {
			// 	padding-bottom: 0;
			// }
		}
		li+li {
			margin-top: 0;
		}
	}

	#work {
		.filter_wrap {
			width: 557px;
			@include bs;
			height: 42px;
			line-height: 38px;
			border: 2px solid #fff;
			padding: 0;
			min-width: auto;
			margin-top: 40px;
			&:hover {
				@include border-radius($radius);
			}
			.ie8 & {
				width: 578px;
			}
			span {
				display: none;
			}
			ul {
				display: block;
				position: static;
				top: auto;
				left: auto;
				width: auto;
				@include border-radius(none);
				li {
					float: left;
					width: 113px;
					border-left: 1px solid #fff;
					border-right: 1px solid #fff;
					background-color: #e8eef1;
					&.active, &:hover {
						background-color: #fff;
					}
					&:first-child, &:last-child {
						width: 103px;
					}
					&:first-child {
						border-left: none;
					}
					&:last-child {
						border-right: none;
					}
				}
				a {
					&:hover {
						background-color: #fff;
					}
				}
			}
		}	
		#filter_content {
			margin: 0 auto;
			width: 590px;
			left: -10px;
			// padding-left: -15px;
			a {
				margin: 7px;
			}
		}	
	}

	#team {
		padding-bottom: 40px;
		.bx-wrapper {
			.slider2 {
				.slide {
					margin-top: 0;
					position: relative;
					a {
						width: 204px;
						height: 204px;
						@include border-radius(50%);
						// @include bs;
						background-origin:padding-box;
					}
					img {
						width: 204px;
						position: absolute;
						left: 50%;
						top: 50%;
						margin-top: -102px;
						margin-left: -102px;
					}
				}
			}
		}
		.slider2_popups {
			top: -20px;
			position: relative;
			
			.popup-item {
				top: 20px;
				h6 {
					font-size: 20px;
					display: inline-block;
					padding: 0 15px 15px;
					border-bottom: 1px solid #fff;
					font-weight: 400;
				}
				p {
					border: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				.close {
					position: absolute;
					right: 20px;
					top: 15px;
				}
			}
		}
	}
	.lightbox .lb-outerContainer {
		max-height: 600px;
		overflow: hidden;
	}
	#clients {
		.container {
			padding: 0;
		}
	}
	.bx-wrapper {
		width: 800px;
		.bx-viewport {
			padding-bottom: 40px;
			.slide {
				vertical-align: middle;
				a {
					max-width: 100%;
				}
				// img {
				// 	max-width: 95%;
				// }
			}

		}
	}
	#clients .bx-wrapper .bx-controls-direction {
		top: -40px;
		a {
			top: 45px;
		}
	}

	#contact {
		form {
			.left {
				width: 324px;
				&.righ {
					float: right;
					text-align: right;
				}
			}
		}
		#map {
			margin-top: 80px;
		}
		.contact_info {
			width: 460px;
			margin-left: -230px;
			top: -240px;
		}
	}
	footer {
		// top: 96px;
		padding-bottom: 33px;
		.left {
			float: left;
			text-align: left;
		}
		.right {
			float: right;
		}
		small {
			padding-top: 5px;
			margin-bottom: 0;
			i {
				display: inline;
			}
			
		}
	}
}
@media (min-width: 960px) {
	.container {
		width: 960px;
		padding: 0;
	}
	#about { 
		li {
			width: 479px;
			text-align: left;
			span {
				float: left;
				margin-right: 40px;
				margin-bottom: 10px;
				
			}
			p {
				clear: none;
			}
		}
	}
	#work {
		.filter_wrap {
			min-width: 0;
		}
		#filter_content {
			width: 100%;
			margin: 0 auto;
			left: 0;
			
		}
	}	
	#contact {
		form {
			.left {
				width: 459px;
			}
		}
	}
	footer {
		padding: 50px 0;
		.container {
			small {
				display: inline-block;
				margin-top: 0;
			}
			.left {
				padding-top: 10px;
				&>a {
					margin-right: 30px;
				}
			}
		}
	}
}